// baseA0: "24242e";
// baseA1: "333342";
// baseA2: "515167";
// baseA3: "5b5b76";
// baseA4: "737391";
// baseA5: "8a8aa3";
// baseA6: "a1a1b5";
// baseA7: "b8b8c7";

// baseB0: "5151e6";
// baseB1: "6363ee";
// baseB2: "7676f4";
// baseB3: "767693";
// baseB4: "8a8aad";
// baseB5: "aaaaca";
// baseB6: "cecee3";
// baseB7: "ebebff";

// baseC0: "7b736f";
// baseC1: "8e8580";
// baseC2: "a09792";
// baseC3: "b1a9a5";
// baseC4: "c3bbb7";
// baseC5: "d8cfcb";
// baseC6: "eae4e1";
// baseC7: "fbf9f9";

// baseD0: "b25424";
// baseD1: "cb5c25";
// baseD2: "dd672c";
// baseD3: "e66e33";
// baseD4: "ec7336";
// baseD5: "f37b3f";
// baseD6: "f88349";
// baseD7: "fe8c52";

$base00: hsl(240, 12%, 16%);
$base01: hsl(240, 12%, 21%);
$base02: hsl(240, 12%, 36%);
$base03: hsl(240, 13%, 41%);
$base04: hsl(240, 15%, 46%);
$base05: hsl(240, 12%, 52%);
$base06: hsl(240, 28%, 70%);
$base07: hsl(240, 99%, 96%);
$base08: hsl(240, 75%, 61%);
$base09: hsl(20, 72%, 52%);
$base0A: hsl(20, 89%, 56%);
$base0B: hsl(20, 16%, 36%);
$base0C: hsl(20, 99%, 66%);
$base0D: hsl(20, 94%, 61%);
$base0E: hsl(240, 85%, 71%);
$base0F: hsl(240, 80%, 66%);

$baseA0: hsl(240, 12%, 16%);
$baseA1: hsl(240, 13%, 23%);
$baseA2: hsl(240, 12%, 36%);
$baseA3: hsl(240, 13%, 41%);
$baseA4: hsl(240, 12%, 51%);
$baseA5: hsl(240, 12%, 59%);
$baseA6: hsl(240, 12%, 67%);
$baseA7: hsl(240, 12%, 75%);

$baseB0: hsl(240, 75%, 61%);
$baseB1: hsl(240, 80%, 66%);
$baseB2: hsl(240, 85%, 71%);
$baseB3: hsl(240, 12%, 52%);
$baseB4: hsl(240, 18%, 61%);
$baseB5: hsl(240, 23%, 73%);
$baseB6: hsl(240, 28%, 85%);
$baseB7: hsl(240, 99%, 96%);

$baseC0: hsl(20, 5%, 46%);
$baseC1: hsl(20, 6%, 53%);
$baseC2: hsl(20, 7%, 60%);
$baseC3: hsl(20, 7%, 67%);
$baseC4: hsl(20, 9%, 74%);
$baseC5: hsl(20, 14%, 82%);
$baseC6: hsl(20, 19%, 90%);
$baseC7: hsl(20, 24%, 98%);

$baseD0: hsl(20, 66%, 42%);
$baseD1: hsl(20, 69%, 47%);
$baseD2: hsl(20, 72%, 52%);
$baseD3: hsl(20, 78%, 55%);
$baseD4: hsl(20, 83%, 57%);
$baseD5: hsl(20, 88%, 60%);
$baseD6: hsl(20, 93%, 63%);
$baseD7: hsl(20, 99%, 66%);

@import "demo";
