// $baseA0: "222021";
// $baseA1: "2f2d2e";
// $baseA2: "565254";
// $baseA3: "635f60";
// $baseA4: "706b6d";
// $baseA5: "8a8586";
// $baseA6: "9f999b";
// $baseA7: "b3adaf";

// $baseB0: "ad1f51";
// $baseB1: "875e6d";
// $baseB2: "936c7a";
// $baseB3: "9c818b";
// $baseB4: "d27998";
// $baseB5: "e28dab";
// $baseB6: "f0a8c1";
// $baseB7: "ffebf2";

// $baseC0: "787673";
// $baseC1: "8b8984";
// $baseC2: "9d9b95";
// $baseC3: "aeaca7";
// $baseC4: "c1beb9";
// $baseC5: "d6d3cc";
// $baseC6: "eae7e1";
// $baseC7: "fbfaf9";

// $baseD0: "996e00";
// $baseD1: "aa7c09";
// $baseD2: "b88914";
// $baseD3: "c39622";
// $baseD4: "cca133";
// $baseD5: "d9c38c";
// $baseD6: "e6d099";
// $baseD7: "fce19c";

$baseA0: hsl(339, 2%, 13%);
$baseA1: hsl(339, 2%, 18%);
$baseA2: hsl(339, 2%, 33%);
$baseA3: hsl(339, 2%, 38%);
$baseA4: hsl(339, 2%, 43%);
$baseA5: hsl(339, 2%, 53%);
$baseA6: hsl(339, 3%, 61%);
$baseA7: hsl(339, 4%, 69%);

$baseB0: hsl(339, 70%, 40%);
$baseB1: hsl(339, 18%, 45%);
$baseB2: hsl(339, 15%, 50%);
$baseB3: hsl(339, 12%, 56%);
$baseB4: hsl(339, 50%, 65%);
$baseB5: hsl(339, 60%, 72%);
$baseB6: hsl(339, 70%, 80%);
$baseB7: hsl(339, 100%, 96%);

$baseC0: hsl(43, 2%, 46%);
$baseC1: hsl(43, 3%, 53%);
$baseC2: hsl(43, 4%, 60%);
$baseC3: hsl(43, 4%, 67%);
$baseC4: hsl(43, 6%, 74%);
$baseC5: hsl(43, 11%, 82%);
$baseC6: hsl(43, 16%, 90%);
$baseC7: hsl(43, 21%, 98%);

$baseD0: hsl(43, 100%, 30%);
$baseD1: hsl(43, 90%, 35%);
$baseD2: hsl(43, 80%, 40%);
$baseD3: hsl(43, 70%, 45%);
$baseD4: hsl(43, 60%, 50%);
$baseD5: hsl(43, 50%, 70%);
$baseD6: hsl(43, 60%, 75%);
$baseD7: hsl(43, 95%, 80%);

@import "../../output/prism/_prism-base2tone-cave";
@import "demo";
