// $baseA0: "192834";
// $baseA1: "223644 213645";
// $baseA2: "335166 305169";
// $baseA3: "3d5e76 375F78";
// $baseA4: "466b86 3e6d8e";
// $baseA5: "507895 457aa1";
// $baseA6: "7b9eb7 88b1cd";
// $baseA7: "7b9eb7 a4c4da";
// $baseB0: "1b6498";
// $baseB1: "2172ab";
// $baseB2: "277fbe";
// $baseB3: "4299d7";
// $baseB4: "47adf5";
// $baseB5: "8dcefc";
// $baseB6: "afddfe";
// $baseB7: "d1ecff";
// $baseC0: "757b6f 75816a";
// $baseC1: "878e80 87947a";
// $baseC2: "99a092 99a58d";
// $baseC3: "abb1a5 abb5a1";
// $baseC4: "bdc3b7 bdc6b3";
// $baseC5: "d1d6cd d1dac8";
// $baseC6: "e6e8e3 e6ecdf";
// $baseC7: "fafbf9 fafbf8";
// $baseD0: "4d8217 59981b";
// $baseD1: "59931f 66a824";
// $baseD2: "66a329 73b82e";
// $baseD3: "73b234 80c639";
// $baseD4: "80bf40 94c95e";
// $baseD5: "8cdd3c 9eec51";
// $baseD6: "99eb47 adf764";
// $baseD7: "a6f655 baff75";

$baseA0: hsl(205, 35%, 15%);
$baseA1: hsl(205, 34%, 20%);
$baseA2: hsl(205, 33%, 30%);
$baseA3: hsl(205, 32%, 35%);
$baseA4: hsl(205, 31%, 40%);
$baseA5: hsl(205, 30%, 45%);
$baseA6: hsl(205, 29%, 60%);
$baseA7: hsl(205, 28%, 75%);

$baseB0: hsl(205, 70%, 35%);
$baseB1: hsl(205, 68%, 40%);
$baseB2: hsl(205, 66%, 45%);
$baseB3: hsl(205, 65%, 55%);
$baseB4: hsl(205, 90%, 62%);
$baseB5: hsl(205, 95%, 77%);
$baseB6: hsl(205, 97%, 84%);
$baseB7: hsl(205, 100%, 91%);

$baseC0: hsl(90, 5%, 46%);
$baseC1: hsl(90, 6%, 53%);
$baseC2: hsl(90, 7%, 60%);
$baseC3: hsl(90, 7%, 67%);
$baseC4: hsl(90, 9%, 74%);
$baseC5: hsl(90, 10%, 82%);
$baseC6: hsl(90, 11%, 90%);
$baseC7: hsl(90, 12%, 98%);

$baseD0: hsl(90, 70%, 30%);
$baseD1: hsl(90, 65%, 35%);
$baseD2: hsl(90, 60%, 40%);
$baseD3: hsl(90, 55%, 45%);
$baseD4: hsl(90, 50%, 50%);
$baseD5: hsl(90, 70%, 55%);
$baseD6: hsl(90, 80%, 60%);
$baseD7: hsl(90, 90%, 65%);

@import "../../output/prism/_prism-base2tone-meadow";
@import "demo";
