// $baseA0: "192d34 1e3238";
// $baseA1: "223c44 294047";
// $baseA2: "335966 44646f";
// $baseA3: "3d6876 51717b";
// $baseA4: "467686 5e7d87";
// $baseA5: "508495 798e96";
// $baseA6: "7ba8b7 90a2a7";
// $baseA7: "adc8d1 a6b5b9";

// $baseB0: "2f7289";
// $baseB1: "36829b";
// $baseB2: "3e91ac";
// $baseB3: "499fbc";
// $baseB4: "62b1cb";
// $baseB5: "7dc2d9";
// $baseB6: "a5d8e9";
// $baseB7: "e1f7ff";

// $baseC0: "7a7971";
// $baseC1: "8d8c81";
// $baseC2: "9f9d93";
// $baseC3: "b1afa5";
// $baseC4: "c2c1b7";
// $baseC5: "d5d4cd";
// $baseC6: "e8e7e3";
// $baseC7: "fafaf9";

// $baseD0: "84740b";
// $baseD1: "978611";
// $baseD2: "b7a21a";
// $baseD3: "c4b031";
// $baseD4: "cbbb4d";
// $baseD5: "d6c65c d8c964";
// $baseD6: "e9d763 ecdd79";
// $baseD7: "ffeb66 ffee80";

$baseA0: hsl(195, 35%, 15%);
$baseA1: hsl(195, 34%, 20%);
$baseA2: hsl(195, 33%, 30%);
$baseA3: hsl(195, 32%, 35%);
$baseA4: hsl(195, 31%, 40%);
$baseA5: hsl(195, 30%, 45%);
$baseA6: hsl(195, 29%, 60%);
$baseA7: hsl(195, 28%, 75%);

$baseB0: hsl(195, 49%, 36%);
$baseB1: hsl(195, 48%, 41%);
$baseB2: hsl(195, 47%, 46%);
$baseB3: hsl(195, 46%, 51%);
$baseB4: hsl(195, 50%, 59%);
$baseB5: hsl(195, 55%, 67%);
$baseB6: hsl(195, 60%, 78%);
$baseB7: hsl(195, 97%, 94%);

$baseC0: hsl(52, 4%, 46%);
$baseC1: hsl(52, 5%, 53%);
$baseC2: hsl(52, 6%, 60%);
$baseC3: hsl(52, 7%, 67%);
$baseC4: hsl(52, 8%, 74%);
$baseC5: hsl(52, 9%, 82%);
$baseC6: hsl(52, 9%, 90%);
$baseC7: hsl(52, 8%, 98%);

$baseD0: hsl(52, 85%, 28%);
$baseD1: hsl(52, 80%, 33%);
$baseD2: hsl(52, 75%, 41%);
$baseD3: hsl(52, 60%, 48%);
$baseD4: hsl(52, 55%, 55%);
$baseD5: hsl(52, 60%, 60%);
$baseD6: hsl(52, 75%, 65%);
$baseD7: hsl(52, 100%, 70%);

@import "../../output/prism/_prism-base2tone-lake";
@import "demo";
