// $baseA0: "2a2433 1e2138";
// $baseA1: "372f42 292c47";
// $baseA2: "574b68 44486f";
// $baseA3: "635775 51557b";
// $baseA4: "706383 5e6287";
// $baseA5: "857897 7e7996";
// $baseA6: "9a90a7 9490a7";
// $baseA7: "afa7b9 aaa6b9"; 
// $baseB0: "8f51e6 4e58b1";
// $baseB1: "9d63ee 5a63b5";
// $baseB2: "aa75f5 656eb8";
// $baseB3: "b886fd 7178bc";
// $baseB4: "c7a0fe 979dd3";
// $baseB5: "d6b9fe bcc1e6";
// $baseB6: "e4d2fe d1d4f0";
// $baseB7: "f3ebff e1e4ff";

// $baseC0: "7a7171";
// $baseC1: "8d8281";
// $baseC2: "9f9393";
// $baseC3: "b0a6a6";
// $baseC4: "c2b8b7";
// $baseC5: "d7cccb";
// $baseC6: "eae1e1";
// $baseC7: "fbf9f9";

// $baseD0: "cf504a";
// $baseD1: "d95f59";
// $baseD2: "ed655e";
// $baseD3: "f36f68";
// $baseD4: "f87972";
// $baseD5: "fc8983 fc847e";
// $baseD6: "ff9e99 ff908a";
// $baseD7: "ffb6b3 ff9e99";

$baseA0: hsl(265, 18%, 17%);
$baseA1: hsl(265, 17%, 22%);
$baseA2: hsl(265, 16%, 35%);
$baseA3: hsl(265, 15%, 40%);
$baseA4: hsl(265, 14%, 45%);
$baseA5: hsl(265, 13%, 53%);
$baseA6: hsl(265, 12%, 61%);
$baseA7: hsl(265, 11%, 69%);

$baseB0: hsl(265,  75%, 61%);
$baseB1: hsl(265,  80%, 66%);
$baseB2: hsl(265,  87%, 71%);
$baseB3: hsl(265,  97%, 76%);
$baseB4: hsl(265,  97%, 81%);
$baseB5: hsl(265,  97%, 86%);
$baseB6: hsl(265,  97%, 91%);
$baseB7: hsl(265,  100%, 96%);

$baseC0: hsl(3, 4%, 46%);
$baseC1: hsl(3, 5%, 53%);
$baseC2: hsl(3, 6%, 60%);
$baseC3: hsl(3, 6%, 67%);
$baseC4: hsl(3, 8%, 74%);
$baseC5: hsl(3, 13%, 82%);
$baseC6: hsl(3, 18%, 90%);
$baseC7: hsl(3, 23%, 98%);

$baseD0: hsl(3, 58%, 55%);
$baseD1: hsl(3, 63%, 60%);
$baseD2: hsl(3, 80%, 65%);
$baseD3: hsl(3, 85%, 68%);
$baseD4: hsl(3, 90%, 71%);
$baseD5: hsl(3, 95%, 75%);
$baseD6: hsl(3, 100%, 80%);
$baseD7: hsl(3, 100%, 85%);

@import "../../output/prism/_prism-base2tone-pool";
@import "demo";
