$baseA0: hsl(170, 13%, 11%);
$baseA1: hsl(170, 12%, 16%);
$baseA2: hsl(170, 11%, 29%);
$baseA3: hsl(170, 10%, 39%);
$baseA4: hsl(170, 9%, 44%);
$baseA5: hsl(170, 10%, 52%);
$baseA6: hsl(170, 11%, 60%);
$baseA7: hsl(170, 12%, 68%);

$baseB0: hsl(170, 95%, 24%);
$baseB1: hsl(170, 90%, 32%);
$baseB2: hsl(170, 85%, 40%);
$baseB3: hsl(170, 70%, 48%);
$baseB4: hsl(170, 70%, 56%);
$baseB5: hsl(170, 72%, 65%);
$baseB6: hsl(170, 80%, 74%);
$baseB7: hsl(170, 100%, 83%);

$baseC0: hsl(145, 5%, 43%);
$baseC1: hsl(145, 6%, 50%);
$baseC2: hsl(145, 7%, 57%);
$baseC3: hsl(145, 7%, 64%);
$baseC4: hsl(145, 9%, 71%);
$baseC5: hsl(145, 10%, 80%);
$baseC6: hsl(145, 11%, 90%);
$baseC7: hsl(145, 12%, 98%);

$baseD0: hsl(145, 100%, 29%);
$baseD1: hsl(145, 85%, 36%);
$baseD2: hsl(145, 80%, 42%);
$baseD3: hsl(145, 70%, 49%);
$baseD4: hsl(145, 75%, 56%);
$baseD5: hsl(145, 80%, 63%);
$baseD6: hsl(145, 90%, 69%);
$baseD7: hsl(145, 100%, 76%);

@import "../../output/prism/_prism-base2tone-field";
@import "demo";
