/* line 1, ../../../output/prism/_prism-base2tone-lavender.scss */
code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* line 22, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-dark code[class*="language-"],
.prism-dark pre[class*="language-"] {
  background: #201d2a;
  color: #a286fd;
}

/* line 28, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-light code[class*="language-"],
.prism-light pre[class*="language-"] {
  background: #faf8fc;
  color: #a286fd;
}

/* line 34, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-dark pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection, .prism-dark code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #7451e6;
}
.prism-dark pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
.prism-dark code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection,
.prism-dark pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
.prism-dark code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #7451e6;
}

/* line 42, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-light pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection, .prism-light code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #faf8fc;
}
.prism-light pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
.prism-light code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection,
.prism-light pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
.prism-light code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #faf8fc;
}

/* Code blocks */
/* line 51, ../../../output/prism/_prism-base2tone-lavender.scss */
pre[class*="language-"] {
  padding: 1em 1.5em;
  margin: .5em 0;
  overflow: auto;
}

/* Inline code */
/* line 58, ../../../output/prism/_prism-base2tone-lavender.scss */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

/* line 63, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-dark .token.comment,
.prism-dark .token.prolog,
.prism-dark .token.doctype,
.prism-dark .token.cdata,
.prism-dark .token.punctuation {
  color: #625a7c;
}

/* line 71, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-light .token.comment,
.prism-light .token.prolog,
.prism-light .token.doctype,
.prism-light .token.cdata,
.prism-light .token.punctuation {
  color: #c4b6ce;
}

/* line 79, ../../../output/prism/_prism-base2tone-lavender.scss */
.token.namespace {
  opacity: .7;
}

/* line 83, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-dark .token.tag,
.prism-dark .token.operator,
.prism-dark .token.number {
  color: #c16bff;
}

/* line 89, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-light .token.tag,
.prism-light .token.operator,
.prism-light .token.number {
  color: #7451e6;
}

/* line 95, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-dark .token.property,
.prism-dark .token.function {
  color: #a286fd;
}

/* line 100, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-light .token.property,
.prism-light .token.function {
  color: #c16bff;
}

/* line 105, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-dark .token.tag-id,
.prism-dark .token.selector,
.prism-dark .token.atrule-id {
  color: #efebff;
}

/* line 111, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-light .token.tag-id,
.prism-light .token.selector,
.prism-light .token.atrule-id {
  color: #b042ff;
}

/* line 117, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-dark code.language-javascript,
.prism-dark .token.attr-name {
  color: #c9b9fe;
}

/* line 122, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-light code.language-javascript,
.prism-light .token.attr-name {
  color: #c16bff;
}

/* line 127, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-dark code.language-css,
.prism-dark code.language-scss,
.prism-dark .token.boolean,
.prism-dark .token.string,
.prism-dark .token.entity,
.prism-dark .token.url,
.prism-dark .language-css .token.string,
.prism-dark .language-scss .token.string,
.prism-dark .style .token.string,
.prism-dark .token.attr-value,
.prism-dark .token.keyword,
.prism-dark .token.control,
.prism-dark .token.directive,
.prism-dark .token.unit,
.prism-dark .token.statement,
.prism-dark .token.regex,
.prism-dark .token.atrule {
  color: #ecd1ff;
}

/* line 147, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-light code.language-css,
.prism-light code.language-scss,
.prism-light .token.boolean,
.prism-light .token.string,
.prism-light .token.entity,
.prism-light .token.url,
.prism-light .language-css .token.string,
.prism-light .language-scss .token.string,
.prism-light .style .token.string,
.prism-light .token.attr-value,
.prism-light .token.keyword,
.prism-light .token.control,
.prism-light .token.directive,
.prism-light .token.unit,
.prism-light .token.statement,
.prism-light .token.regex,
.prism-light .token.atrule {
  color: #9375f5;
}

/* line 167, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-dark .token.placeholder,
.prism-dark .token.variable {
  color: #ecd1ff;
}

/* line 172, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-light .token.placeholder,
.prism-light .token.variable {
  color: #c9b9fe;
}

/* line 177, ../../../output/prism/_prism-base2tone-lavender.scss */
.token.deleted {
  text-decoration: line-through;
}

/* line 181, ../../../output/prism/_prism-base2tone-lavender.scss */
.token.inserted {
  text-decoration: none;
}

/* line 185, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-dark .token.inserted {
  border-bottom: 1px dotted #efebff;
}

/* line 189, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-dark .token.inserted {
  border-bottom: 1px dotted #b042ff;
}

/* line 193, ../../../output/prism/_prism-base2tone-lavender.scss */
.token.italic {
  font-style: italic;
}

/* line 197, ../../../output/prism/_prism-base2tone-lavender.scss */
.token.important,
.token.bold {
  font-weight: bold;
}

/* line 202, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-dark .token.important {
  color: #c9b9fe;
}

/* line 206, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-light .token.important {
  color: #c16bff;
}

/* line 210, ../../../output/prism/_prism-base2tone-lavender.scss */
.token.entity {
  cursor: help;
}

/* line 214, ../../../output/prism/_prism-base2tone-lavender.scss */
pre > code.highlight {
  outline-offset: .4em;
}

/* line 218, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-dark pre > code.highlight {
  outline: .4em solid #9375f5;
}

/* line 222, ../../../output/prism/_prism-base2tone-lavender.scss */
.prism-light pre > code.highlight {
  outline: .4em solid #c16bff;
}

/* line 2, ../../sass/demo-tiles/_demo.scss */
.bg-baseA0 {
  background-color: #201d2a;
  color: #afa9c1;
}

/* line 3, ../../sass/demo-tiles/_demo.scss */
.bg-baseA1 {
  background-color: #2c2839;
  color: #b6b1c6;
}

/* line 4, ../../sass/demo-tiles/_demo.scss */
.bg-baseA2 {
  background-color: #4b455f;
  color: #bdb8cc;
}

/* line 5, ../../sass/demo-tiles/_demo.scss */
.bg-baseA3 {
  background-color: #625a7c;
  color: #c3bfd1;
}

/* line 6, ../../sass/demo-tiles/_demo.scss */
.bg-baseA4 {
  background-color: #6e658b;
  color: #cac7d6;
}

/* line 7, ../../sass/demo-tiles/_demo.scss */
.bg-baseA5 {
  background-color: #827a9f;
  color: #2c2839;
}

/* line 8, ../../sass/demo-tiles/_demo.scss */
.bg-baseA6 {
  background-color: #9992b0;
  color: #453f57;
}

/* line 9, ../../sass/demo-tiles/_demo.scss */
.bg-baseA7 {
  background-color: #afa9c1;
  color: #4b455f;
}

/* line 11, ../../sass/demo-tiles/_demo.scss */
.bg-baseB0 {
  background-color: #7451e6;
  color: #dcd2fe;
}

/* line 12, ../../sass/demo-tiles/_demo.scss */
.bg-baseB1 {
  background-color: #8363ee;
  color: #dcd2fe;
}

/* line 13, ../../sass/demo-tiles/_demo.scss */
.bg-baseB2 {
  background-color: #9375f5;
  color: #f0ebff;
}

/* line 14, ../../sass/demo-tiles/_demo.scss */
.bg-baseB3 {
  background-color: #a286fd;
  color: #e4dcfe;
}

/* line 15, ../../sass/demo-tiles/_demo.scss */
.bg-baseB4 {
  background-color: #b5a0fe;
  color: #2c2839;
}

/* line 16, ../../sass/demo-tiles/_demo.scss */
.bg-baseB5 {
  background-color: #c9b9fe;
  color: #4b455f;
}

/* line 17, ../../sass/demo-tiles/_demo.scss */
.bg-baseB6 {
  background-color: #dcd2fe;
  color: #625a7c;
}

/* line 18, ../../sass/demo-tiles/_demo.scss */
.bg-baseB7 {
  background-color: #efebff;
  color: #6e658b;
}

/* line 20, ../../sass/demo-tiles/_demo.scss */
.bg-baseC0 {
  background-color: #7c6f85;
  color: #d8cce0;
}

/* line 21, ../../sass/demo-tiles/_demo.scss */
.bg-baseC1 {
  background-color: #8e8198;
  color: #ece4f1;
}

/* line 22, ../../sass/demo-tiles/_demo.scss */
.bg-baseC2 {
  background-color: #a092aa;
  color: #faf8fc;
}

/* line 23, ../../sass/demo-tiles/_demo.scss */
.bg-baseC3 {
  background-color: #b2a4bc;
  color: #5c5263;
}

/* line 24, ../../sass/demo-tiles/_demo.scss */
.bg-baseC4 {
  background-color: #c4b6ce;
  color: #62586a;
}

/* line 25, ../../sass/demo-tiles/_demo.scss */
.bg-baseC5 {
  background-color: #d8cce0;
  color: #695e71;
}

/* line 26, ../../sass/demo-tiles/_demo.scss */
.bg-baseC6 {
  background-color: #ece4f1;
  color: #6f6478;
}

/* line 27, ../../sass/demo-tiles/_demo.scss */
.bg-baseC7 {
  background-color: #faf8fc;
  color: #766a7e;
}

/* line 29, ../../sass/demo-tiles/_demo.scss */
.bg-baseD0 {
  background-color: #b042ff;
  color: #f6ebff;
}

/* line 30, ../../sass/demo-tiles/_demo.scss */
.bg-baseD1 {
  background-color: #b957ff;
  color: #fcf7ff;
}

/* line 31, ../../sass/demo-tiles/_demo.scss */
.bg-baseD2 {
  background-color: #c16bff;
  color: white;
}

/* line 32, ../../sass/demo-tiles/_demo.scss */
.bg-baseD3 {
  background-color: #ca80ff;
  color: #9b0fff;
}

/* line 33, ../../sass/demo-tiles/_demo.scss */
.bg-baseD4 {
  background-color: #d294ff;
  color: #a01cff;
}

/* line 34, ../../sass/demo-tiles/_demo.scss */
.bg-baseD5 {
  background-color: #dba8ff;
  color: #a629ff;
}

/* line 35, ../../sass/demo-tiles/_demo.scss */
.bg-baseD6 {
  background-color: #e3bdff;
  color: #ab36ff;
}

/* line 36, ../../sass/demo-tiles/_demo.scss */
.bg-baseD7 {
  background-color: #ecd1ff;
  color: #b042ff;
}

@font-face {
  font-family: 'infiniregular';
  src: url("//base2t.one/assets/fonts/infini/infini-romain.woff2") format("woff2"), url("//base2t.one/assets/fonts/infini/infini-romain.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'infiniitalic';
  src: url("//base2t.one/assets/fonts/infini/infini-italique.woff2") format("woff2"), url("//base2t.one/assets/fonts/infini/infini-italique.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
/* line 75, ../../sass/demo-tiles/_demo.scss */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* line 81, ../../sass/demo-tiles/_demo.scss */
html {
  font-family: sans-serif;
  font-size: 16px;
}

/* line 86, ../../sass/demo-tiles/_demo.scss */
html,
body {
  height: 100%;
  min-height: 100%;
}

/* line 92, ../../sass/demo-tiles/_demo.scss */
.bg-dark,
.bg-dark body {
  background-color: #685f84;
  color: #201d2a;
}

/* line 98, ../../sass/demo-tiles/_demo.scss */
body {
  margin: 0;
  font: 100%/1.5 AvenirNext-Regular, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
  min-height: 100%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

/* line 120, ../../sass/demo-tiles/_demo.scss */
section {
  padding-bottom: 5em;
}

/* line 125, ../../sass/demo-tiles/_demo.scss */
nav,
.container-flex,
h3,
section {
  opacity: 1;
}

/* line 132, ../../sass/demo-tiles/_demo.scss */
ul {
  list-style: none;
}

/* line 136, ../../sass/demo-tiles/_demo.scss */
sup,
small,
.small {
  font-size: .875em;
}

/* line 142, ../../sass/demo-tiles/_demo.scss */
.wf-active body,
.wf-active button,
.wf-active .button {
  font-family: infiniregular, AvenirNext-Regular, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
}

/* line 148, ../../sass/demo-tiles/_demo.scss */
h1, h2, h3, h4 {
  display: inline-block;
  margin: 0;
  font-family: AvenirNextCondensed-DemiBold, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
  font-weight: normal;
}

/* line 155, ../../sass/demo-tiles/_demo.scss */
h4 {
  font-family: AvenirNext-Regular, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
}

/* line 159, ../../sass/demo-tiles/_demo.scss */
.code-samples .h4 {
  margin: 1rem 0 0 1rem;
  text-transform: capitalize;
}

/* line 164, ../../sass/demo-tiles/_demo.scss */
.wf-active h1,
.wf-active h2,
.wf-active h3 {
  font-family: infiniregular, AvenirNextCondensed-DemiBold, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
}

/* line 170, ../../sass/demo-tiles/_demo.scss */
.wf-active h4 {
  font-family: infiniregular, AvenirNext-Regular, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
}

/* line 174, ../../sass/demo-tiles/_demo.scss */
.wf-active strong {
  font-weight: normal;
}

/* line 178, ../../sass/demo-tiles/_demo.scss */
.bg-dark .col h3 {
  color: #2c2839;
}

/* line 182, ../../sass/demo-tiles/_demo.scss */
.note h3 {
  color: #7c6f85;
}

/* line 189, ../../sass/demo-tiles/_demo.scss */
a {
  text-decoration: none;
}

/* line 193, ../../sass/demo-tiles/_demo.scss */
.content a {
  display: inline-block;
  line-height: 1.25;
  color: #e3bdff;
}
/* line 198, ../../sass/demo-tiles/_demo.scss */
.content a:hover {
  color: #ecd1ff;
  box-shadow: 0 0.1em 0 #ecd1ff;
}

/* line 205, ../../sass/demo-tiles/_demo.scss */
.note a {
  color: #b957ff;
}
/* line 207, ../../sass/demo-tiles/_demo.scss */
.note a:hover {
  color: #ca80ff;
  box-shadow: 0 4px 0 #d294ff;
}

/* line 214, ../../sass/demo-tiles/_demo.scss */
.container {
  max-width: 100%;
  overflow: auto;
}

/* line 219, ../../sass/demo-tiles/_demo.scss */
.header,
.footer {
  width: 100%;
  text-align: center;
  color: #201d2a;
  background-color: #efebff;
}

/* line 233, ../../sass/demo-tiles/_demo.scss */
.github-corner svg[style] {
  -webkit-transition: .3s all;
  transition: .3s all;
  fill: #afa9c1 !important;
  color: #827a9f !important;
}

/* line 240, ../../sass/demo-tiles/_demo.scss */
.github-corner:hover svg[style] {
  fill: #9992b0 !important;
  color: #ecd1ff !important;
}

/* line 245, ../../sass/demo-tiles/_demo.scss */
.header {
  padding: 2em 1em;
  text-align: center;
  position: relative;
}
@media (min-width: 860px) {
  /* line 245, ../../sass/demo-tiles/_demo.scss */
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 67%, 80% 75%, 75% 100%, 25% 100%, 20% 75%, 0 67%);
    clip-path: polygon(0 0, 100% 0, 100% 67%, 80% 75%, 75% 100%, 25% 100%, 20% 75%, 0 67%);
    padding-top: .5em;
    padding-bottom: 10em;
  }
}

/* line 258, ../../sass/demo-tiles/_demo.scss */
.header p {
  font-size: 1em;
  padding-top: 1em;
  margin: 0;
  letter-spacing: 1px;
  word-spacing: -1px;
}
@media (max-width: 639px) {
  /* line 258, ../../sass/demo-tiles/_demo.scss */
  .header p {
    font-size: .875em;
  }
}
@media (min-width: 860px) {
  /* line 258, ../../sass/demo-tiles/_demo.scss */
  .header p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 2em;
  }
}

/* line 276, ../../sass/demo-tiles/_demo.scss */
.header p,
.btn-text,
.footer small {
  letter-spacing: 1px;
  word-spacing: -1px;
}

/* line 283, ../../sass/demo-tiles/_demo.scss */
.footer {
  padding: 1.5em 0 2em;
  letter-spacing: 1px;
  word-spacing: -1px;
}

/* line 289, ../../sass/demo-tiles/_demo.scss */
.header a,
.footer a {
  color: #6e658b;
  -webkit-transition: all .3s;
  transition: all .3s;
}
/* line 293, ../../sass/demo-tiles/_demo.scss */
.header a:hover,
.footer a:hover {
  color: #9992b0;
}

/* line 299, ../../sass/demo-tiles/_demo.scss */
.logo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 320px) {
  /* line 299, ../../sass/demo-tiles/_demo.scss */
  .logo {
    width: 288px;
    height: 0;
    padding-bottom: 20%;
  }
}
@media (min-width: 690px) {
  /* line 299, ../../sass/demo-tiles/_demo.scss */
  .logo {
    min-width: 555px;
    width: 90vw;
  }
}

/* line 317, ../../sass/demo-tiles/_demo.scss */
img,
svg {
  max-width: 100%;
}

@media (max-width: 319px) {
  /* line 322, ../../sass/demo-tiles/_demo.scss */
  .logo svg {
    display: none;
  }
}
@media (min-width: 320px) {
  /* line 322, ../../sass/demo-tiles/_demo.scss */
  .logo svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

/* line 332, ../../sass/demo-tiles/_demo.scss */
[id="logo-glyphs-base"] {
  color: #ca80ff;
}

/* line 336, ../../sass/demo-tiles/_demo.scss */
[class*="bg-"] [id*="-shadow"] path {
  fill: currentColor;
}

/* line 340, ../../sass/demo-tiles/_demo.scss */
[class*="bg-"] [id*="-shadow"] path {
  opacity: 0;
}

/* line 344, ../../sass/demo-tiles/_demo.scss */
.domready [id*="-shadow"] path {
  -webkit-animation: glyph-opacity 30s infinite linear;
          animation: glyph-opacity 30s infinite linear;
}

/* line 348, ../../sass/demo-tiles/_demo.scss */
.domready [id*="-inner"] path {
  -webkit-animation: glyph-fill 30s infinite linear;
          animation: glyph-fill 30s infinite linear;
}

/* line 352, ../../sass/demo-tiles/_demo.scss */
.domready [id="glyphs-base-shadow"] path,
.domready [id="logo-glyphs-tone-inner"] path {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

@-webkit-keyframes glyph-opacity {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
}

@keyframes glyph-opacity {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
}
@-webkit-keyframes glyph-fill {
  0% {
    fill: #efebff;
  }
  49% {
    fill: #efebff;
  }
  50% {
    fill: currentColor;
  }
  99% {
    fill: currentColor;
  }
}
@keyframes glyph-fill {
  0% {
    fill: #efebff;
  }
  49% {
    fill: #efebff;
  }
  50% {
    fill: currentColor;
  }
  99% {
    fill: currentColor;
  }
}
/* line 389, ../../sass/demo-tiles/_demo.scss */
nav ul {
  margin: 0;
  padding: 0;
}

@media (max-width: 639px) {
  /* line 394, ../../sass/demo-tiles/_demo.scss */
  .js .nav-closed {
    max-height: 0;
    overflow: hidden;
  }
}

/* line 401, ../../sass/demo-tiles/_demo.scss */
.nav-open {
  max-height: 40em;
}

/* line 405, ../../sass/demo-tiles/_demo.scss */
.nav_list a {
  border: 1px solid transparent;
  letter-spacing: 1px;
}

/* line 410, ../../sass/demo-tiles/_demo.scss */
.nav_toggle-themes .btn-text,
.demo-tiles-header-text b {
  text-transform: capitalize;
}

/* line 415, ../../sass/demo-tiles/_demo.scss */
.bg-dark .nav-themes_list a {
  background-color: #2c2839;
  color: #dba8ff;
  border-top-color: #322e40;
  border-bottom-color: #201d2a;
}
/* line 421, ../../sass/demo-tiles/_demo.scss */
.bg-dark .nav-themes_list a:hover {
  background: #262331;
}

/* line 426, ../../sass/demo-tiles/_demo.scss */
.nav_list .current a {
  pointer-events: none;
  cursor: default;
}

/* line 431, ../../sass/demo-tiles/_demo.scss */
.bg-dark .nav_list .current a {
  border-top-color: #4b455f;
  border-bottom-color: #201d2a;
}

/* line 436, ../../sass/demo-tiles/_demo.scss */
.bg-dark .nav-themes_list .current a {
  color: #827a9f;
  background: #201d2a;
  border-top-color: #1b1823;
  border-bottom-color: #262332;
}

/* line 443, ../../sass/demo-tiles/_demo.scss */
.nav_toggle {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='rgb(255,255,255)'%3E%3Crect x='12' y='14' width='16' height='2'/%3E%3Crect x='12' y='20' width='16' height='2'/%3E%3Crect x='12' y='26' width='16' height='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  padding: .75em 1em;
  color: #fff;
}

/* line 452, ../../sass/demo-tiles/_demo.scss */
.nav-open .nav_toggle {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='36' viewBox='0 0 48 36' fill='rgb(255,255,255)'%3E%3Cpath d='M25.261,17.018l4.571,4.572l-1.367,1.297l-4.501-4.573L19.5,22.887l-1.332-1.297l4.5-4.572l-4.5-4.572l1.332-1.332 l4.464,4.608l4.501-4.608l1.367,1.332L25.261,17.018z'/%3E%3C/svg%3E");
}

@media (max-width: 927px) {
  /* line 456, ../../sass/demo-tiles/_demo.scss */
  .nav-closed .nav_toggle {
    height: 56px;
  }
}

/* line 462, ../../sass/demo-tiles/_demo.scss */
.nav_toggle .btn-text {
  display: inline-block;
  padding-left: 1.5em;
}

/* line 467, ../../sass/demo-tiles/_demo.scss */
.nav_toggle-themes .btn-text {
  padding-right: .25em;
  line-height: 1;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  font-size: 1.125em;
}

/* line 475, ../../sass/demo-tiles/_demo.scss */
.nav_toggle-themes {
  background-position: .25em center;
  position: absolute;
  background-color: #2c2839;
  color: #dba8ff;
}
@media (max-width: 859px) {
  /* line 475, ../../sass/demo-tiles/_demo.scss */
  .nav_toggle-themes {
    right: 0;
  }
}
@media (min-width: 860px) {
  /* line 475, ../../sass/demo-tiles/_demo.scss */
  .nav_toggle-themes {
    text-align: right;
    width: 15%;
    min-width: 8rem;
    top: -3.03em;
    left: 5%;
    right: auto;
    border-radius: 3px;
  }
  /* line 496, ../../sass/demo-tiles/_demo.scss */
  .nav-themes-open .nav_toggle-themes {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
/* line 502, ../../sass/demo-tiles/_demo.scss */
.nav_toggle-themes:hover {
  background-color: #201d2a;
}

/* line 511, ../../sass/demo-tiles/_demo.scss */
.container-flex {
  position: relative;
}
@media (min-width: 640px) {
  /* line 511, ../../sass/demo-tiles/_demo.scss */
  .container-flex {
    display: -webkit-box;
    display: flex;
  }
}

/* line 519, ../../sass/demo-tiles/_demo.scss */
.row,
.content {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
@media (min-width: 641px) {
  /* line 519, ../../sass/demo-tiles/_demo.scss */
  .row,
  .content {
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* line 531, ../../sass/demo-tiles/_demo.scss */
.content {
  padding-bottom: 5em;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-top: 2.6em;
}
@media (min-width: 640px) {
  /* line 531, ../../sass/demo-tiles/_demo.scss */
  .content {
    width: 80%;
    -webkit-box-flex: 4;
            flex-grow: 4;
  }
}

@media (min-width: 640px) {
  /* line 542, ../../sass/demo-tiles/_demo.scss */
  .no-flexbox .content {
    width: auto;
  }
}

/* line 548, ../../sass/demo-tiles/_demo.scss */
.js .has-themes-hidden {
  width: 100%;
  margin-top: 0;
}

/* line 553, ../../sass/demo-tiles/_demo.scss */
.nav-themes-hidden ~ .content {
  padding-top: 3em;
}
@media (min-width: 928px) {
  /* line 553, ../../sass/demo-tiles/_demo.scss */
  .nav-themes-hidden ~ .content {
    padding-top: 2em;
  }
}

/* line 568, ../../sass/demo-tiles/_demo.scss */
.nav-themes {
  -webkit-box-flex: 1;
          flex-grow: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

/* line 573, ../../sass/demo-tiles/_demo.scss */
.bg-dark .nav-themes {
  background-color: #2c2839;
}

@media (max-width: 860px) {
  /* line 577, ../../sass/demo-tiles/_demo.scss */
  .nav-themes-open {
    padding-top: 3em;
  }
}
@media (max-width: 639px) {
  /* line 577, ../../sass/demo-tiles/_demo.scss */
  .nav-themes-open {
    width: 100%;
  }
}
@media (min-width: 640px) {
  /* line 577, ../../sass/demo-tiles/_demo.scss */
  .nav-themes-open {
    width: 20%;
    min-width: 8rem;
  }
}

@media (min-width: 640px) {
  /* line 591, ../../sass/demo-tiles/_demo.scss */
  .no-flexbox .nav-themes-open {
    float: left;
    margin-right: 3em;
  }
}

/* line 598, ../../sass/demo-tiles/_demo.scss */
.nav-themes-hidden {
  width: 0;
  overflow: hidden;
}

@media (max-width: 639px) {
  /* line 603, ../../sass/demo-tiles/_demo.scss */
  .js .nav-themes-hidden {
    height: 0;
  }
}

/* line 610, ../../sass/demo-tiles/_demo.scss */
.nav-themes_list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

/* line 615, ../../sass/demo-tiles/_demo.scss */
.nav-themes_list a {
  display: block;
  display: -webkit-box;
  display: flex;
  padding: .5em 1em;
}

/* line 623, ../../sass/demo-tiles/_demo.scss */
.content p {
  max-width: 35em;
  padding: .5em 0;
}

/* line 629, ../../sass/demo-tiles/_demo.scss */
.wf-active .quote {
  font-family: infiniitalic, AvenirNext-Regular, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
  font-style: normal;
}

/* line 634, ../../sass/demo-tiles/_demo.scss */
.quote p {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em 2em;
  background-color: #efebff;
  color: #625a7c;
  border-style: solid;
  border-width: 1px;
  border-top-color: #f9f7ff;
  border-right-color: #e6deff;
  border-bottom-color: #dcd2fe;
  border-left-width: .75em;
  border-left-color: #c9b9fe;
}
@media (min-width: 641px) {
  /* line 634, ../../sass/demo-tiles/_demo.scss */
  .quote p {
    font-size: 1.5em;
  }
}

/* line 655, ../../sass/demo-tiles/_demo.scss */
.demo-tiles {
  overflow: hidden;
  margin-bottom: 3em;
  height: 160px;
}

/* line 661, ../../sass/demo-tiles/_demo.scss */
.demo-tiles.collapsed span {
  color: transparent;
}

/* line 665, ../../sass/demo-tiles/_demo.scss */
.unit {
  float: left;
  width: 12.5%;
  padding: .5em 0;
  text-align: center;
  -webkit-transition: .3s all;
  transition: .3s all;
}

/* line 673, ../../sass/demo-tiles/_demo.scss */
.hidden {
  width: 0;
  height: 0;
  padding: 0;
  float: none;
  opacity: 0;
}

/* line 681, ../../sass/demo-tiles/_demo.scss */
.cf {
  overflow: hidden;
}

@media (min-width: 750px) {
  /* line 686, ../../sass/demo-tiles/_demo.scss */
  .w-1v2 {
    float: left;
    width: 50%;
  }
}

/* line 693, ../../sass/demo-tiles/_demo.scss */
.w-1v3 {
  width: 33.33333%;
}

/* line 697, ../../sass/demo-tiles/_demo.scss */
.w-1v8 {
  width: 12.5%;
}

/* line 701, ../../sass/demo-tiles/_demo.scss */
.demo-tiles-header {
  padding: 0 0 1em;
  display: block;
  overflow: auto;
}

/* line 707, ../../sass/demo-tiles/_demo.scss */
.demo-tiles-header-text {
  display: block;
}

/* line 712, ../../sass/demo-tiles/_demo.scss */
.bg-dark .demo-tiles-header-text,
.bg-dark .h3 {
  color: #2c2839;
}

/* line 717, ../../sass/demo-tiles/_demo.scss */
.demo-tiles-header-text b {
  font-weight: normal;
}

@media (max-width: 650px) {
  /* line 721, ../../sass/demo-tiles/_demo.scss */
  .demo-tiles-header-text .number-shades {
    display: block;
    clear: both;
  }
}

/* line 728, ../../sass/demo-tiles/_demo.scss */
.bg-dark .demo-tiles-header-text .number-shades {
  color: #efebff;
  letter-spacing: .5px;
  word-spacing: -.5px;
}

/* line 734, ../../sass/demo-tiles/_demo.scss */
.demo-tiles-header .button {
  float: right;
}

/* line 738, ../../sass/demo-tiles/_demo.scss */
h1 {
  font-size: 2.5rem;
}

/* line 742, ../../sass/demo-tiles/_demo.scss */
h2 {
  font-size: 2rem;
}

/* line 746, ../../sass/demo-tiles/_demo.scss */
h3 {
  font-size: 1.5rem;
  letter-spacing: -1px;
  word-spacing: 1px;
}

/* line 752, ../../sass/demo-tiles/_demo.scss */
.demo-tiles-header,
section h3 {
  margin: 1em 0 0 0;
}

/* line 757, ../../sass/demo-tiles/_demo.scss */
.row-intro h3 {
  margin: 0;
  color: #625a7c;
}

/* line 764, ../../sass/demo-tiles/_demo.scss */
.block-list {
  margin-bottom: 1em;
}

/* line 768, ../../sass/demo-tiles/_demo.scss */
.block-list li {
  padding: .5em 1em;
}

/* line 772, ../../sass/demo-tiles/_demo.scss */
[class*="language-"] a {
  background: transparent;
  color: inherit;
  pointer-events: none;
}

/* line 778, ../../sass/demo-tiles/_demo.scss */
.language-bash {
  background-color: #201d2a;
  color: #faf8fc;
}

/* line 790, ../../sass/demo-tiles/_demo.scss */
.bg-dark ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(44, 40, 57, 0.3);
  border-radius: 2px;
  background-color: #322e40;
}

/* line 797, ../../sass/demo-tiles/_demo.scss */
.bg-dark ::-webkit-scrollbar {
  width: .75em;
  height: .75em;
  background-color: #201e2a;
}

/* line 803, ../../sass/demo-tiles/_demo.scss */
.bg-dark ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(32, 29, 42, 0.3);
  background-color: #262331;
}

/* line 809, ../../sass/demo-tiles/_demo.scss */
.bg-dark ::-webkit-scrollbar-thumb:window-inactive {
  background-color: #201e2a;
}

/* line 813, ../../sass/demo-tiles/_demo.scss */
.bg-dark ::-webkit-scrollbar-corner {
  background-color: #2c2839;
}

/* line 817, ../../sass/demo-tiles/_demo.scss */
button,
.content .button,
.credits a {
  letter-spacing: 1px;
  word-spacing: -1px;
}

/* line 824, ../../sass/demo-tiles/_demo.scss */
button,
.content .button {
  -webkit-appearance: none;
  overflow: visible;
  border-radius: 4px;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #d294ff #c16bff #b957ff;
  cursor: pointer;
  background-color: #c16bff;
  color: #efebff;
  display: inline-block;
  outline: 0;
  margin: 0 0 .5em .75em;
  padding: .75em 1em;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font: normal 1rem/1.3 AvenirNext-Regular, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
}

/* line 848, ../../sass/demo-tiles/_demo.scss */
button:focus,
.content .button:focus {
  box-shadow: #b042ff 0 0 5px 0;
  z-index: 1;
}

/* line 854, ../../sass/demo-tiles/_demo.scss */
button:hover,
.content .button:hover {
  color: #efebff;
  box-shadow: none;
  background-color: #cc85ff;
  text-decoration: none;
}

/* line 862, ../../sass/demo-tiles/_demo.scss */
button:active,
.content .button:active {
  box-shadow: inset rgba(162, 134, 253, 0.25) 0 1px 2px 0;
  border-color: #8f6dfd #9b0fff #8f00f5;
}

/* line 868, ../../sass/demo-tiles/_demo.scss */
button::-moz-focus-inner, input::-moz-focus-inner, button::-webkit-focus-inner, input::-webkit-focus-inner {
  border: 0;
  padding: 0;
}

/* line 873, ../../sass/demo-tiles/_demo.scss */
.outer {
  text-align: center;
  background-color: #201d2a;
  padding: 3em;
}

/* line 878, ../../sass/demo-tiles/_demo.scss */
.inner {
  background-color: rgba(202, 128, 255, 0.75);
  min-height: 300px;
}

@media (min-width: 320px) {
  /* line 883, ../../sass/demo-tiles/_demo.scss */
  .header .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

/* line 896, ../../sass/demo-tiles/_demo.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Consolas, Menlo, Monaco, monospace;
  background: #afa9c1;
  margin-bottom: 3em;
}

/* line 904, ../../sass/demo-tiles/_demo.scss */
thead {
  display: table-header-group;
}

/* line 908, ../../sass/demo-tiles/_demo.scss */
thead th {
  border-bottom: 1px solid #827a9f;
  text-align: center;
  font-size: 1.125em;
  text-transform: uppercase;
  font-weight: normal;
  background: #9992b0;
}

/* line 917, ../../sass/demo-tiles/_demo.scss */
thead th:nth-of-type(1) {
  text-align: left;
}

/* line 921, ../../sass/demo-tiles/_demo.scss */
th, td {
  padding: .5em 1em;
}

/* zebra stripes */
/* line 926, ../../sass/demo-tiles/_demo.scss */
tr:nth-of-type(even) {
  background: #bdb8cc;
}

/* line 933, ../../sass/demo-tiles/_demo.scss */
table tbody tr:nth-of-type(1) td:nth-child(0n+2),
table tbody tr:nth-of-type(1) td:nth-child(0n+3),
table tbody tr:nth-of-type(1) td:nth-child(0n+4),
table tbody tr:nth-of-type(1) td:nth-child(0n+5),
table tbody tr:nth-of-type(2) td:nth-child(0n+2),
table tbody tr:nth-of-type(2) td:nth-child(0n+3),
table tbody tr:nth-of-type(2) td:nth-child(0n+4),
table tbody tr:nth-of-type(2) td:nth-child(0n+5),
table tbody tr:nth-of-type(3) td:nth-child(0n+2),
table tbody tr:nth-of-type(3) td:nth-child(0n+3),
table tbody tr:nth-of-type(3) td:nth-child(0n+4),
table tbody tr:nth-of-type(3) td:nth-child(0n+5),
table tbody tr:nth-of-type(4) td:nth-child(0n+2),
table tbody tr:nth-of-type(4) td:nth-child(0n+3),
table tbody tr:nth-of-type(5) td:nth-child(0n+2),
table tbody tr:nth-of-type(5) td:nth-child(0n+3),
table tbody tr:nth-of-type(6) td:nth-child(0n+2),
table tbody tr:nth-of-type(7) td:nth-child(0n+2) {
  color: #fff;
}

/* line 954, ../../sass/demo-tiles/_demo.scss */
.row {
  padding-top: 3em;
  padding-bottom: 4em;
  margin-right: -1.5em;
  margin-left: -1.5em;
}
@media (min-width: 641px) {
  /* line 954, ../../sass/demo-tiles/_demo.scss */
  .row {
    margin-right: -7%;
    margin-left: -7%;
  }
}

/* line 966, ../../sass/demo-tiles/_demo.scss */
.row-intro {
  background-color: #faf8fc;
  -webkit-column-width: 490px;
     -moz-column-width: 490px;
          column-width: 490px;
  -webkit-column-gap: 3em;
     -moz-column-gap: 3em;
          column-gap: 3em;
}

/* line 972, ../../sass/demo-tiles/_demo.scss */
.intro {
  font-size: 1.25em;
  color: #7c6f85;
}
@media (min-width: 641px) {
  /* line 972, ../../sass/demo-tiles/_demo.scss */
  .intro {
    font-size: 1.5em;
  }
}

/* line 982, ../../sass/demo-tiles/_demo.scss */
.dropcap {
  float: left;
  line-height: 1;
  width: 62px;
  height: 90px;
  margin-right: 3px;
  position: relative;
  font-size: 5.3em;
  top: -8px;
}
@media (min-width: 641px) {
  /* line 982, ../../sass/demo-tiles/_demo.scss */
  .dropcap {
    width: 73px;
    height: 108px;
  }
}

/* line 998, ../../sass/demo-tiles/_demo.scss */
.wf-active .intro {
  font-weight: normal;
}

/* line 1002, ../../sass/demo-tiles/_demo.scss */
.section-text,
.quote p {
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
}

/* line 1010, ../../sass/demo-tiles/_demo.scss */
.content .credits {
  float: right;
  text-align: right;
  max-width: initial;
}

/* line 1018, ../../sass/demo-tiles/_demo.scss */
._mbs {
  margin-bottom: .5rem !important;
}

/* line 1021, ../../sass/demo-tiles/_demo.scss */
._mtm {
  margin-top: 1rem !important;
}

/* line 1024, ../../sass/demo-tiles/_demo.scss */
._mtl {
  margin-top: 1.5rem !important;
}

/* line 1027, ../../sass/demo-tiles/_demo.scss */
._mbl {
  margin-bottom: 1.5rem !important;
}

/* line 1030, ../../sass/demo-tiles/_demo.scss */
._mbxl {
  margin-bottom: 2rem !important;
}

/* line 1034, ../../sass/demo-tiles/_demo.scss */
.mw-75vh {
  max-width: 75vh;
}

/* line 1042, ../../sass/demo-tiles/_demo.scss */
.fs-larger {
  font-size: 1.25em;
}

/* line 1046, ../../sass/demo-tiles/_demo.scss */
.note {
  background-color: #d8cce0;
}

/* line 1050, ../../sass/demo-tiles/_demo.scss */
.row.note {
  padding-top: 0;
}

/* line 1055, ../../sass/demo-tiles/_demo.scss */
.list-bullets {
  padding: 0 .5em;
  margin: .5em 0 .5em -.45rem;
}

/* line 1060, ../../sass/demo-tiles/_demo.scss */
.list-bullets li {
  position: relative;
  margin-left: -.75em;
  padding-left: .75em;
}

/* line 1066, ../../sass/demo-tiles/_demo.scss */
.list-bullets li::before {
  content: " \B7";
  /* middot in unicode -> &middot; */
  font-size: 1.25em;
  color: #8e8198;
  line-height: 1;
  display: inline-block;
  vertical-align: top;
  padding-right: 3px;
}

@media (min-width: 750px) {
  /* line 1078, ../../sass/demo-tiles/_demo.scss */
  pre[class*="language-"],
  .code-samples pre[class*="language-"] {
    padding: 1.5em 2em;
    font-size: 16px;
  }

  /* line 1084, ../../sass/demo-tiles/_demo.scss */
  h1 {
    font-size: 2.75rem;
  }

  /* line 1088, ../../sass/demo-tiles/_demo.scss */
  h2 {
    font-size: 2.5rem;
  }

  /* line 1092, ../../sass/demo-tiles/_demo.scss */
  h3 {
    font-size: 2rem;
  }

  /* line 1096, ../../sass/demo-tiles/_demo.scss */
  p {
    font-size: 1.125em;
  }

  /* line 1100, ../../sass/demo-tiles/_demo.scss */
  button,
  .button {
    font-size: 1.25rem;
  }
}

/*# sourceMappingURL=base2tone-lavender.css.map */